<section id="Contenedor">       
            <div class="image">
                <img src="https://images.unsplash.com/photo-1605543986865-76ff0c4ee22d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y29taWRhfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" width="250" height="250" >
            </div>          
            <div>
                <h2>Nuestras Practicas</h2>
                <!-- <h1>Nuestros Productos</h1> -->
                <p>Una empresa de comida r치pida dedicada a la elaboraci칩n de diferentes tipos de carne en pan de pita acompa침ado de vegetales y papas fritas y bebida. </p>
                <button id="mas">Mas informaci칩n</button>        
            </div>
    </section>