<section id="producto">
        <div>
        <br><br>
            <h6>Nuestros Productos</h6>
            <p>En nuestro menú, tenemos diferentes opciones para degustar.</p>
            <button id="mas">Menú</button> 
        </div>
        <div class="product">
           
                    <img  src="https://images.unsplash.com/photo-1563567644671-59b621302ac5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvbWlkYSUyMHJhcGlkYXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Producto 1">                        
                    <h5>Tacos de Pescado</h5>
                    <h5>$ 3.00 </h5>
                    
                    
        </div>
        <div class="product">
                    
                    <img src="https://images.unsplash.com/photo-1568901346375-23c9450c58cd?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8aGFtYnVyZ2VyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Producto 2">
                    <h5>Hamburguesa</h5>
                    <h5>$ 3.00</h5>
                   
        </div>
         <div class="product">
            <img src="https://images.unsplash.com/photo-1534308983496-4fabb1a015ee?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTd8fHBpenphfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Producto 3">
            <h5>Pizza</h5>
            <h5 id="produ">$ 4.00</h5>
            
        </div>
        
    </section>