<header class="header">
        <div class="banner">
            <h3>La comida es el arte del amor</h3>
            <h1>Comer te sienta bien</h1>           
            <button>EXPLORAR</button>
        </div>
</header>